body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 11px;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

.panel {
    position: fixed;
    margin-top: 1%;
    margin-left: 1%;
    background-color: white;
    z-index: 1000;
    padding: 1rem;
    border-radius: 16px;
}

input::placeholder {
    color: rgb(153, 155, 154)!important;
    transition: all .3s ease;
    -webkit-transition: all -webkit-transform .3s ease;

}
textarea::placeholder {
    color: rgb(142, 141, 141)!important;
    transition: all .3s ease;
    -webkit-transition: all -webkit-transform .3s ease;

}

input:hover::placeholder {
    color: rgb(191, 190, 190)!important;
    transition: all .3s ease;
    -webkit-transition: all -webkit-transform .3s ease;
}
textarea:hover::placeholder {
    color: rgb(191, 190, 190)!important;
    transition: all .3s ease;
    -webkit-transition: all -webkit-transform .3s ease;
}

.not-found {

    height: 20px;
}

#pcformrequest {
    max-width: 390px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Your styles for extra small screens go here */
    #pcformrequest {
        max-width: 19rem;
    }

    .panel {
        margin-top: 5%;
        margin-left: 25%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Your styles for extra small screens go here */
    #pcformrequest {
        max-width: 20rem;
    }

    .panel {
        margin-top: 5%;
        margin-left: 10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {

    /* Your styles for small screens go here */
    #pcformrequest {
        max-width: 19rem;
    }

    .panel {
        margin-top: 5%;
        margin-left: 15%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Your styles for medium screens go here */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /* Your styles for large screens go here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {

    /* Your styles for extra large screens go here */
    .panel {
        position: fixed;
        margin-top: 2%;
        margin-left: 2%;
    }
}

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #9747FF !important;
    --bs-btn-border-color: #6c01f8 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9f61ef !important;
    --bs-btn-hover-border-color: #9f61ef !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6028a8 !important;
    --bs-btn-active-border-color: #5408b9 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c2a8e5 !important;
    --bs-btn-disabled-border-color: #c2a8e5 !important;
}

#pcformrequest {
    font-size: 13px;
    font-weight: 500;

}