body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 11px;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

header#page-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    z-index: 1000;
    padding: 10px 20px; /* Padding for spacing */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content h1 {
    margin: 0;
    font-size: 26px;
    color: #333; /* Darker text color */
    font-weight: 600; /* Bold font */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow */
}

.header-logo {
    height: 40px; /* Adjust the logo size as needed */
}

.panel {
    position: fixed;
    margin-top: 70px; /* Adjust for header height */
    margin-left: 1%;
    background-color: white;
    z-index: 1000;
    padding: 1rem;
    border-radius: 16px;
    min-height: 300px;
    max-height: 500px;
}

.card-text {
    font-size: 12px;
}

input::placeholder, textarea::placeholder {
    color: rgb(153, 155, 154) !important;
    transition: all 0.3s ease;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: rgb(191, 190, 190) !important;
    transition: all 0.3s ease;
}

.not-found {
    height: 20px;
}

.tab-pane {
    height: 200px; /* Adjust the height as needed */
    width: 400px;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

.expanded {
    overflow-y: scroll;
    max-height: 400px; /* Adjust height as needed */
}

.expanded .tab-pane {
    height: auto; /* Set height to auto to allow expansion */
}

.accordion-body {
    overflow: hidden;
}

.no_result {
    display: block;
    white-space: normal;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 10px;
}

.no_result label {
    margin: 0;
    font-size: 16px;
}

.no_result input {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #d8e0f8;
   
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.2s;
}
.no_result button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.2s;
}
#pcformrequest {
    max-width: 390px;
    font-size: 13px;
    font-weight: 500;
}

#nav-track-location {
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color */
    border: none; /* No border */
    padding: 0.5rem 1rem; /* Padding for button */
    margin-right: 10px; /* Spacing between buttons */
    border-radius: 0.25rem; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

#nav-track-location:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

#nav-track-location:focus {
    outline: none; /* Remove focus outline */
}

.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #9747FF !important;
    --bs-btn-border-color: #6c01f8 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9f61ef !important;
    --bs-btn-hover-border-color: #9f61ef !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6028a8 !important;
    --bs-btn-active-border-color: #5408b9 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c2a8e5 !important;
    --bs-btn-disabled-border-color: #c2a8e5 !important;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    #pcformrequest {
        max-width: 19rem;
    }
    .panel {
        margin-top: 5%;
        margin-left: 10%;
    }
  
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #pcformrequest {
        max-width: 19rem;
    }
    .panel {
        margin-top: 5%;
        margin-left: 15%;
    }
   
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
   
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    
}

@media only screen and (min-width: 1201px) {
    .panel {
        position: fixed;
        margin-top: 6%;
        margin-left: 2%;
    }
}
